
    .captions {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;


        h2 {
            color: var(--hero-title);
            font-weight: bold;
            line-height: 1;
        }

        h3 {
            color: var(--hero-subtitle);
            line-height: 1;
        }


        .textarea {

            &--white  {
                border-radius:1rem;
                padding: 1rem;
                backdrop-filter: blur(15px) brightness(115%);
                background: rgba(255, 255, 255, 0.25);

                @include breakpoint(large){
                    padding: 2rem;
                }
                h1 {
                    color: white;
                }
                h2 a {
                    color: white;
                }
                div p {
                    color: white;
                    font-size: 1.5rem;
                }

                span span {
                    color: white;
                    line-height: 1;
                    display: inline-block;
                    font-weight: bold;
                    margin-top:0.5rem;
                    margin-right: 1rem;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                    border: 1px white solid;
                    border-radius: 0.25rem;

                    @include breakpoint(large){
                        margin-bottom: 1rem;
                    }
                }
            }

            &--transparent {
                border-radius:1rem;
                padding: 1rem;
                backdrop-filter: blur(15px) brightness(150%);
                color: $black;

                @include breakpoint(large){
                    padding: 2rem;
                }

                div p {
                    font-size: 1.5rem;
                }
                span span {

                    line-height: 1;
                    display: inline-block;
                    font-weight: bold;
                    margin-top:0.5rem;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
                    border: 1px black solid;
                    border-radius: 0.25rem;
                }
            }




        }

    }