
    .captions {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;



        h2 {
            color: var(--hero-title);
            font-weight: bold;
        }

        h3 {
            color: var(--hero-subtitle);
            line-height: 1;
        }


        .textarea {

            &--white  {
                border-radius:1rem;
                padding: 2rem;
                backdrop-filter: blur(15px) brightness(115%);
                background: rgba(255, 255, 255, 0.25);
                h1 {
                    color: white;
                }
                h2 a {
                    color: white;
                }
                div p {
                    color: white;
                    font-size: 1.5rem;
                }
            }

            &--transparent {
                border-radius:1rem;
                padding: 2rem;
                backdrop-filter: blur(15px) brightness(115%);
                div p {

                    font-size: 1.5rem;
                }
            }




        }

    }