.case-studies {

    &.landing {

        position: relative;
        
        @include breakpoint(large) {

            // main div needs to be full screen
            //margin-top: -100px; // make menu height a variable
            left: 0;
            width: 100%;
            height: 100vh;
            background-size: cover;      
            transition: all ease 1s;     
        }

        // this module lives in the landing
        .listing {

           display: block;

            @include breakpoint(large) {
                display: flex;
                align-items: center;
                justify-content: center;    
                height: 100vh;
            }

            .case-studies-panel {

                @include breakpoint(medium down){
                    position: relative;
                }

                img {
                        display: block;
                        width: 100%;
                        transition: opacity linear $fast-speed;

                        @include breakpoint(large) {
                            opacity: 0;
                            position: absolute;
                            z-index: 0;
                            top: 0;
                            left: 0;
                        }

                        &:first-of-type {
                            opacity: 1;
                        }
                    }

                .case-study-titles-holder {
                    position: absolute;
                    padding: $small-spacing;
                    transform: translateY(-120px);
                    z-index: 2;

                    @include breakpoint(large) {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        padding: 0;
                        transform: initial;


                        &:last-of-type {

                           > .case-study-title {
                                &:after {
                                    content: '';
                                }
                            }

                        }
                    }
                }
            }

            .case-studies-listingpage-title {
                
                display: none;
                                
                @include breakpoint(large) {   
                    display: block; 
                    position: relative;
                    z-index: 1;
                    text-align: center;
                    font-size: rem-calc(20px);
                }
            }

            .case-study-title {

                @include breakpoint(large) {
                    font-size: rem-calc(58px);
                    opacity: 0.5;
                    margin-bottom: $small-spacing;

                    &:after {
                        content: ' / ';
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .case-study-subtitle {

                @include breakpoint(large) {
                    display: none;

                }
            }

            .case-study-category {

                @include breakpoint(large) {
                    display: none;

                }
            }

        }
    }

   
        &.contentpage {

            .hero-content {
                .breadcrumbs {
                    display: none;
                }

                h2 {
                    display: none;
                }
            }

            @include breakpoint(large) {


                .grid-container {
                    &.full {
                        padding-left: initial;
                        padding-right: initial;
                        max-width: initial;
                        margin-left: initial;
                        margin-right: initial;
                    }
                }
            }
    }

}