
.clock-holder {
	position: relative;
	display: inline-block;
	margin-right: $small-spacing;
	width: 95px;
	height: 95px;
	
	
	@include breakpoint(large){
		margin-right: 50px;
		width: 140px;
		height: 140px;
	}
	
	.clock {

	}

	.ticks i {
		position: absolute;
		top: 3%;
		left: 48%;
		width: 2%;
		height: 47%;
		transform-origin: 50% 100%;
		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 35%;
			width: 30%;
			height: 13%;
			background-color: $grey;
		}
		&:nth-child(5n+0)::after {
			width: 80%;
			left: 10%;
			height: 13%;
		}
		@for $i from 1 through 60 {
			&:nth-child(#{$i}) {
				transform: rotateZ(((6deg * $i) - 0));
			}
		}
	}

	.hand {
		position: absolute;
		background-color: $grey;
	}

	.hours {
		$width: 6%;
		$height: 48%;
		$pivot: .68;
		width: $width;
		height: $height;
		left: (50 - ($width * 0.5));
		top: (50 - ($height * $pivot));
		transform-origin: 50% (100% * $pivot);
		clip-path: polygon(100% 100%, 0% 100%, 15% 0%, 85% 0%);
	}

	.minutes {
		$width: 2%;
		$height: 48%;
		$pivot: .75;
		width: $width;
		height: $height;
		left: (50 - ($width * 0.5));
		top: (50 - ($height * $pivot));
		transform-origin: 50% (100% * $pivot);
		clip-path: polygon(100% 100%, 0% 100%, 15% 0%, 85% 0%);
	}

	.seconds {
		$width: 1%;
		$height: 48%;
		$pivot: .68;
		width: $width;
		height: $height;
		left: (50 - ($width * 0.5));
		top: (50 - ($height * $pivot));
		transform-origin: 50% (100% * $pivot);
		background-color: $grey;
		&::before,
		&::after {
			position: absolute;
			content: '';
			left: 50%;
 		}
		&::after {
			top: (100% * $pivot);
			width: 1vw;
			height: 1vw;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

