.contacts {

    background-color: var(--contacts-bc);
    padding: $small-spacing 0;

    @include breakpoint(large) {
        padding: $xlarge-spacing 0;
    }
    
    .contact-name {
        color: $grey;
        margin-bottom: $small-spacing;
    }


    .contact-subtitle {
        color: $grey;
        margin-bottom: $small-spacing;

        @include breakpoint(large) {
            width: 60%;
        }
    }
    
    .contact-details {

        span {
            display: block;
        }

    }

    .contacts-holder {
       
        .contact-details {
            margin: $medium-spacing 0 0 0;

            @include breakpoint(large) {
                margin: $xlarge-spacing 0 0 0;
            }
        }
    }
}