.home-hero-module {
    top: 0;
    position: sticky;

    .hero {

        &.full {
            left: 0;
            height: 100vh;
            background-color: var(--hero-bc);
        }

        .hero-content {
            display: flex;
            position: relative;
            padding: 0;

            img {
                object-fit: cover; // replace with IE compat version
            }
        }

    }



}
