.home-hero-module {
    top: 0;
    position: sticky;

    .hero {

        &.full {
            left: 0;
            height: 100vh;
            background-color: var(--hero-bc);
        }

        .hero-content {
            display: flex;
            position: relative;
            padding: 0;

            img {
                object-fit: cover; // replace with IE compat version
            }
        }

    }

    .captions {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;



        h2 {
            color: var(--hero-title);
            font-weight: bold;
        }

        h3 {
            color: var(--hero-subtitle);
            line-height: 1;
        }


        .textarea {

            &--white  {
                border-radius:1rem;
                padding: 2rem;
                backdrop-filter: blur(15px) brightness(115%);
                background: rgba(255, 255, 255, 0.5);
                div p {

                    font-size: 1.5rem;
                }
            }

            &--transparent {
                border-radius:1rem;
                padding: 2rem;
                backdrop-filter: blur(15px) brightness(115%);
                div p {

                    font-size: 1.5rem;
                }
            }




        }

    }

}
