.media-module {

    width: 100%;

    // .blur {
    //     &:after{
    //         content: '';
    //         position: absolute;
    //         left: 0; top: 0;
    //         width: 100%; height: 100%;
    //         background: linear-gradient(to right, rgba(255, 255, 255, 0.75), 30%, rgba(0, 0, 0, 0));
    //     }
    // }

    img, video {
        width: 100%;
        height: 100vh;
        @include breakpoint(medium) {
           height: 100vh;
        }
    }


    .video-fallback {
        background-color: $black;
        img {
            width: 100%;
            @include breakpoint(large) {
                display: none;
            }
        }
    }



    .video {
        &.controls {

            position: relative;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: 0.8;
                transition: opacity linear $medium-speed;
            }

            video {
                opacity: 0.5;
            }

            &:hover {
                &:after {
                    opacity: 0;
                }
                video {
                    opacity: 1;
                }
            }
        }

        video {
            @include breakpoint(small only) {
                display: none;
            }
        }
    }

}