.more-stories {
    position: relative;
    z-index: 1;
    margin-top: 6rem;
    @include breakpoint(medium) {
        padding-top: 10rem;
        margin-top: 10rem;
    }


    .seperator {
        font-weight: bold;
        color: $black;
        background-color: white;
        display: inline-flex;
        margin: 4rem 0;
        padding: 1rem;
        border-radius: 0.5rem;
        h2 {
            font-size: 2rem;
            margin-right: 2rem;
        }
    }
}