.post-body {

    margin-top: 80px;
    @include breakpoint(large) {
        maring-top:100px;
    }

    .wordpress-content {

        p {
            font-size: 2.25rem;


            a {
                @include block-button($black, $white, $bright-blue);
            }
        }

        blockquote {
            border: 1px solid black;
            padding: 2rem;

            p {
                font-size: 1.25rem;
                color: black;
            }
        }


        div.wp-block-embed__wrapper {
            position: absolute;
            top:80px;
            left:0;
            width: 100vw;
            height: 100vh;
            z-index:2;
            @include breakpoint(large) {
                top:50px;
            }


            iframe {
                width: 100vw;
                height: 100vh;
            }
        }
        // figure.wp-block-image {
        //     float: left;
        //     padding-right: 2rem;
        //     margin-bottom: 2rem;
        // }
        // figure.wp-block-image.alignfull.size-full {
        //     margin-bottom: 2rem;
        //     }

        // figure.wp-block-embed.is-type-video iframe {
        //    width: 100%;
        // }

    }
}