.single {
    position: relative;

    .blur {

        &--white{
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include fade-in-partial();
            }
        }

        &--transparent{
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include fade-in-partialLighten();
            }

    }}


    .captions {

        position: relative;
        top: 120px;
        transform: none;
        @include breakpoint(large) {
            top: 160px;
        }


        .textarea--transparent, .textarea--white {
            backdrop-filter: none;
            background: none;
            padding: 0rem;
        }

        .textarea--transparent {
            color: black;


                p > a,a {
                    color: black;
                    text-decoration: underline;
                }
                .wordpress-content > a {
                    order:3;
                    text-decoration: underline;
                    @include breakpoint(large) {
                        @include block-button($black, $white, $bright-blue);
                    }
                }
        }
        .textarea--white {
            color: white;

                p > a,a {
                    color: white; 
                    text-decoration: underline;
                }
                .wordpress-content > a {
                    order:3;
                    text-decoration: underline;
                    @include breakpoint(large) {
                     @include block-button($white, $white, $bright-blue);
                    }
                }
        }
        .wordpress-content {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            .taxonomy-post_tag {
                display: none;
            }
            a {

                word-wrap: break-word;

            }
            p {

                flex-wrap: wrap;
                flex: 1 100%;

                order:1;
                font-size: 1.25rem;
                width: 100%;
                word-wrap: break-word;

                @include breakpoint(medium) {
                    flex: 1 55%;
                    font-size: 2.25rem;
                    max-width: 55%;
                }

            }

            figure {
                order:0;
                flex: 1 50%;
                &.wp-block-embed  {
                    order: 2;
                    border: none;
                    max-width: 100%;
                    div.wp-block-embed__wrapper {
                        width: 100%;
                        height: 100%;
                        iframe {
                            width: 100%;

                            min-width: 300px;
                            min-height: 100%;
                            @include breakpoint(large){

                            min-width: 660px;
                            min-height: 440px;
                            width: 75vw;
                            height: 60vh;
                            }
                        }
                    }
                }

                &.wp-block-image {
                    border-right: 10px transparent solid;
                    margin-bottom: 10px;
                    @include breakpoint(medium){
                        border-right: 10px transparent solid;
                        margin-bottom: 10px;
                    }

                }

            }

            blockquote {
                border: 1px solid black;
                padding: 2rem;

                p {
                    font-size: 1.25rem;
                    color: black;
                }
            }
        }

        img {
            border-radius: 1rem;
        }



        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            @include breakpoint(large) {
                font-size: 4rem;
            }
        }


        .title {
            &--white {
                color: white;
            }
            &--transparent {
                color: black;
            }

        }
    }
}