header {
    transition: background-color,width ease .25s;
    left: 0;
    background-color: transparent;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navigation {
 width: 100vw;   
}