$xslow-speed: 3s;
$slow-speed: 2s;
$medium-speed: 1s;
$fast-speed: 0.5s;

body {
   @include fade-in-animation();
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

video {
    transition: all ease $slow-speed;
}


.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.fadeOut {
    opacity: 0;
}