blockquote {
    font-family: $font-family-primary;
    font-size: rem-calc(12px);
    line-height: rem-calc(13px);
    font-weight: 400;
    letter-spacing: -0.025em;

    margin-bottom: 40px; 
    margin-top: 0;
    padding: 1rem;

    background-color: $bright-blue;
    border-radius: 0.5rem;

    @include breakpoint(large){
        padding: 2rem;
    }
    p, cite {
        color: $white;
    }

    cite {
        &:before {
            content: "";
        }
        font-style: normal;

    }
    
}

blockquote:nth-child(even) {
    background-color: $dark-blue;
    p, cite {
        color: $white;
    }
}