//sector light pallette 
$white:          #fff;
$black:          #000;
$grey:           #969696; 
$dark-grey:      #222222;
$neon-yellow:    #DFFF2F;
$light-grey:     #F9F9F9;
$petrol:        #006269;
$bright-blue:   #0F52BA;
$dark-petrol: #05242b;