h1 {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: rem-calc(40px);

    @include breakpoint(medium) {
        font-size: rem-calc(60px);
    }
    
    @include breakpoint(large) {
        font-size: rem-calc(64px);
        line-height: 1;
        letter-spacing: -0.025em;
    }
}
h2 {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: rem-calc(32px);

    @include breakpoint(medium) {
        font-size: rem-calc(50px);
    }

    @include breakpoint(large) {
        font-size: rem-calc(64px);
        line-height: 1;
        letter-spacing: -0.025em;
    }
}

h3 {
    font-family: $font-family-primary;
    font-weight: 600;
    font-size: rem-calc(20px);
    line-height: 1;

    @include breakpoint(medium) {
        font-size: rem-calc(30px);
    }

    @include breakpoint(large) {
        font-size: rem-calc(40px);
    }
}

h4 {
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: rem-calc(15px);
    @include breakpoint(large) {
        font-size: rem-calc(30px);

    }
}

h5 {
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: rem-calc(15px);
    @include breakpoint(large) {
        font-size: rem-calc(30px);
    }
}

h6 {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: rem-calc(13px);
}
