nav.navigation {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all $fast-speed ease;

    &.open {
        justify-content: flex-start;
    }

    @include breakpoint(large) {
        color: $white;
        height: 100px;
    }

    a.homepage-link {
        position: relative;
        display: block;
        z-index: 100;

    }

    .mobile-nav-trigger {
        z-index: 199;
        background-color: $white;
        border-left: 1px #ccc solid;
        transition: all $fast-speed ease;
        transform: translateX(30px);

        @include breakpoint(medium only) {
            //transform: translateX(40px);
        }

        @include breakpoint(landscape) {
            transform: translateX(40px);
        }

        button {
            outline: none;
            max-height: 80px;
        }

        &.open {
            background-color: $black;
            transform: translateX(-68px);
        }

        @include breakpoint(large) {
            display: none;
        } 
    }


    ul.primary-navigation {
        opacity: 0;
        list-style-type: none;
        z-index: 99;
        transition: transform, opacity $fast-speed ease;
        width: 100%;
        height: 100vh;
        padding: $medium-spacing;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0;
        flex-direction: column;

        @media screen and #{breakpoint(landscape)} and #{breakpoint(small only)} {
            padding: $medium-spacing $medium-spacing $medium-spacing $xlarge-spacing;
        }

        @include breakpoint(medium down) {
            transform: translateX(100%);
        }

        
        &.active {
            @include breakpoint(medium down) {
                opacity: 1;
                display: flex;
                transform: translateX(30px);
                background-color: $neon-yellow;

                li {
                    opacity: 1;
                    float: none;
                    margin-bottom: 24px; 

                    a {
                        font-family: $font-family-secondary-light;
                        color: $dark-grey;
                        font-size: rem-calc(24px);
                        line-height: rem-calc(40px);


                    }
                }
            }

        }

        @include breakpoint(large) {
            margin: 0;
            position: relative;
            display: flex;
            right: initial;
            justify-content: flex-end;
            opacity: 1;
            height: initial;
            max-width: initial;
            padding: initial;
            flex-direction: row;
        }

        li {
            padding: 0px;
            float: left;
            opacity: 0;
            font-size: rem-calc(12px);
            font-weight: 400;
            letter-spacing: 0.5em;

            @include breakpoint(large) {
                margin-right: $small-spacing;
                opacity: 1;
                font-size: rem-calc(13px);
            }

            @include breakpoint(xlarge) {
                margin-right: $large-spacing;
            }
 
            &:last-child {
                margin-right: 0;
            }

            a {
                padding: 0;
                margin: 0;
                color: $black;
                text-transform: uppercase;

                &.active {                    
                    font-family: $font-family-secondary;
                    font-weight: 700;    
                }

                @include breakpoint(large) {
                    &:hover {
                        color: $neon-yellow;
                    }
                }

            }
        }

    }

    
   .navigation-background {
        display: none;

        &.dsk {
            display: block;
            position: absolute;
            z-index: 98;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(20px) brightness(300%);
            left: 0;
            right: 0;
            
        }

    }

}


.no-scroll {
    overflow: hidden;
}


header {
    transition: background-color, width ease $fast-speed/2;
    left: 0;
    background-color: transparent;

    &.open {
        background-color: $black;
    }
}

main {
    transition: all ease $fast-speed ;
    left: 0;
    position: relative;

    &.slideLeft {
        left: -201px;
    }
}
